@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background: #f1f1f1;
    font-size: 1.2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

button,
textarea,
input {
    font-family: "Space Mono", monospace;
    font-size: 1rem;
    color: black;
    border: none;
    padding: 1rem;
    outline: none;
    width: 90%;
    max-width: 600px;
}

.elevation {
    position: relative;
    box-shadow: 0 5px 11px -1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    border-radius: 100%;
}

.elevation.pressed {
    box-shadow: 0 2px 11px -7px rgba(0, 0, 0, 0.3);
}

button {
    font-size: 1.5rem;
    cursor: pointer;
    background: white;
    transition: all 0.3s;
    aspect-ratio: 1;
    position: relative;
    padding: 0;
    width: 64px;
    border-radius: 100%;
    position: relative;
    transform: translateY(-15%);
}

button:hover {
    background: #f9f9f9;
}

button svg {
    position: absolute;
    inset: 0;
    fill: black;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.3s;
}


.elevation:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    transition: all 0.3s;
}

.elevation.pressed:before {
    height: 50%;
}

.pressed button {
    transform: translateY(-5%);
}

.pressed svg {
    fill: #999;
}

.pressed {
    cursor: wait;
    pointer-events: none;
}

#ui {
    position: fixed;
    width: 90%;
    max-width: 600px;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
}

#art-container {
    position: relative;
    height: 50vh;
    width: 90%;
    max-width: 768px;
    box-shadow: 1px 10px 44px -18px rgba(0, 0, 0, 0.4);
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

#art-description {
    font-size: 1rem;
    max-width: 768px;
    width: 90%;
    animation: fadeIn 1s;
}

#prompt {
    max-height: 200px;
    padding: 0 1rem;
    font-size: 1rem;
    height: 1rem;
    background: transparent;
    border-bottom: 1px solid #bbbbbb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}